<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tela inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tela inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/26/91/f2/2691f2fa1a0f078f5f274edf7fea6763.png" />
    <ion-card-header>
      <ion-card-title>Seja Bem vindo(a)</ion-card-title>
      <ion-card-subtitle>Desenvoldios por:Guilerme Gregorio Valverde,João Gabriel Ramos Moraes da Silva e Luis Fernando
        Paschoal
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-button fill="clear" (click)="onclic()" >Cadastrar</ion-button>
  <ion-button fill="clear" (click)="showmenu()" >Logar</ion-button>
  <ion-button fill="clear" (click)="ano()" > Continuar sem logar</ion-button>
  </ion-card>
</ion-content>
